.catalogMenu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;

  div {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
}
